.App {
  text-align: center;
}

.h1 {
 text-align: center;
 margin-right: 200px;
}

.card-data {
  list-style: none;
  background-color: darkgrey;
  height: 550px;
  width: 550px;
  margin-left: ;
}

.card-image {
  max-height: 200px;
  max-width: 200px;
}
